statefiles/autoalarm_sqs.asl.json
{
    "Comment": "Generate SQS Alarms",
    "StartAt": "LookupResource",
    "States": {
        "LookupResource": {
            "Type": "Pass",
            "Comment": "Look up resource by ARN",
            "Next": "Generate Alarms"
        },
        "Generate Alarms": {
            "Type": "Pass",
            "Comment": "Use the resource information to make one or more CloudWatch Alarms",
            "Result": {

            },
            "ResultPath": "$.alarmInput",
            "Next": "End"
        },
        "End": {
            "Type": "Succeed"
        }
    }
}
